.container{
  max-width: 400px;
  min-height: 450px;
  margin: 0 auto;
  background: transparent;
  box-shadow: 0 0 3px gray;
  padding: 15px 50px;
  margin-top: 50px;
  box-shadow: blue;
  border-color: darkgoldenrod;

}
 .head{
   color: blue;
  font-size: 1;
  box-shadow: 0 0 3px black;
  text-align: center;
  height:9vh;
  line-height: 90h;
  background:transparent;
   font-family: 'Niconne', cursive;
  font-weight: 700;
  text-decoration: blue;
  
}
.bal{
  color: blue;
}
.incexp{
  color: blue;
  display:flex;
  justify-content: space-around;
  background-color:transparent;
  box-shadow: 0 0 5px;
  padding: 5px 2px;
  margin: 5px 0;
}
.list{
  margin: 0px;
  padding: 0;
}
.list > li {
  background-color: cornsilk;
  color: chartreuse;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 10px gray;
  padding: 10px 15px;
  background-color: white;
  margin: 5px 0;
  border-radius: 4px;

}